header.header
    .header__wrapper
        .header__column
            a(href=routes.home)
                i.fas.fa-clipboard-list
        .header__column
            .header__title DOIT!
        .header__column
            ul
                li
                    a(href=routes.showlist) SHOW LIST
                li 
                    a(href=routes.newlist) NEW LIST
            