html,
body {
  height: 100%;
}
body {
  background-color: $background-color;
  color: black;
  font-size: 14px;
}
body,
body * {
  font-family: "Gamja Flower";
}

main {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  min-height: 70vh;
}

button,
input[type="submit"] {
  cursor: pointer;
}

a,
a:link,
a:visited,
a:hover,
a:active {
  color: inherit; /*color of your choosing*/
  text-decoration: none;
  font-weight: normal;
}
