extends layouts/main

block content
    .form-container
        if errmsg
            .form__errmsg=errmsg
        form(action=`${routes.newList}`, method="post")
            input(type="text", name="title", placeholder="Title", required=true, maxlength="30",  autocomplete="off")
            input(type="submit", value="Add Now")