extends layouts/main
include mixins/listBlock

block content
        .list-container
            each list in todolists
                +listBlock({
                    id: list.id,
                    title: list.listTitle
                })