extends layouts/main
include mixins/todolistForm
include mixins/taskBlock

block content
    .container#jsTaskContainer
        if errmsg
            .form__errmsg=errmsg
        button.popup-button#jsPopupBtn Add Task
        +todolistForm({})
        if todos
            each task in todos.tasks
                +taskBlock(task)