extends layouts/main

block content
    .container
        if errmsg
            .form__errmsg=errmsg
        .todolist-container
            .todolist__list
            input(type="text", name="newdo", placeholder="New task...").todolist__newdo
                   