extends layouts/main
include mixins/listBlock

block content
    if errmsg
        .form__errmsg=errmsg
    .list-container
        if todolists
            each list in todolists
                +listBlock({
                    id: list.id,
                    title: list.listTitle,
                    remainders: list.remainingTask,
                    cautions: list.cautions
                })