$header-background-color: #2d2d2d;
$background-color: #242424;
$nonProgress-color: #636e72;
$onProgress-color: #dfe6e9;
$completed-color: #00b894;

$priority-low-color: #57606f;
$priority-middle-color: #5352ed;
$priority-high-color: #ff4757;
