@import "../config/variables.scss";

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  .todolist__options {
    position: relative;
    width: $list-detail-width;
    border: 1px solid #dfe6e9;
    display: flex;
    align-items: center;
    justify-items: center;
    margin-bottom: 40px;

    .todolist__title {
      width: 100%;
      background: transparent;
      font-size: 30px;
      text-align: center;
      margin-left: 50px;
      padding: 7px 0px;
      color: #81ecec;
    }
    i {
      color: #dfe6e9;
      justify-self: flex-end;
      margin-right: 10px;
      cursor: pointer;
    }
    &:hover {
      border: 1px solid #d63031;
    }
  }

  .todolist__controls {
    display: flex;
    align-items: center;
    user-select: none;

    button {
      user-select: none;
      width: auto;
      font-size: 20px;
      padding: 2px 7px;
      font-weight: 100;
      border-radius: 3px;
      margin-bottom: 30px;
      margin-right: 30px;
    }

    .todolist__alert {
      cursor: pointer;
      text-align: center;
      color: #81ecec;
      width: auto;
      font-size: 30px;
      padding: 2px 7px;
      margin-bottom: 30px;
      opacity: 1;
    }
    .todolist__alert-none {
      opacity: 0;
    }
  }

  .form__errmsg {
    border: 1px solid #ff7675;
    border-radius: 5px;
    background-color: #fab1a0;
    max-width: 320px;
    width: 100%;
    text-align: center;
    margin-bottom: 25px;
    padding: 15px;
  }

  .todolist__header {
    width: 100%;
    max-width: $list-detail-width;
    height: 25px;
    display: flex;
    border-bottom: 2px solid #55efc4;
    font-size: 16px;
    text-align: center;
    user-select: none;
    color: #dfe6e9;

    .todolist__header__title {
      width: 200px;
      height: 100%;
    }
    .todolist__header__priority {
      text-align: center;
      width: 102px;
    }
    .todolist__header__startDate {
      text-align: center;
      width: 80px;
    }
    .todolist__header__tilde {
      text-align: center;
      width: 38px;
    }
    .todolist__header__deadline {
      text-align: center;
      width: 80px;
    }
    .todolist__header__buttons {
      text-align: center;
    }
  }
}
