@import "../config/variables.scss";

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  .todolist__options {
    position: relative;
    width: $list-detail-width;
    display: flex;
    align-items: center;
    justify-items: center;
    margin-bottom: 40px;

    .todolist__title {
      width: 100%;
      background: transparent;
      font-size: 30px;
      text-align: center;
      margin-left: 50px;
      padding: 7px 0px;
      color: #81ecec;
    }
    i {
      color: #dfe6e9;
      justify-self: flex-end;
      margin-right: 10px;
      cursor: pointer;
    }
  }
  .todolist__options-focus {
    border: 3px solid #d63031;
  }
  .todolist__options-focusout {
    border: 1px solid #dfe6e9;
    &:hover {
      border: 1px solid #d63031;
    }
  }

  .todolist__controls {
    width: $list-detail-width;
    display: flex;
    justify-content: space-around;
    align-items: center;
    user-select: none;
    margin-bottom: 30px;
    text-align: center;
    justify-content: center;
    padding: 2px 2px;

    .popup-button,
    .delete-completed-task-button,
    .todolist__alert {
      align-items: center;
      justify-content: center;
      height: auto;
      width: auto;
      display: flex;
      cursor: pointer;
      user-select: none;
      border: 1px solid #74b9ff;
      font-size: 18px;
      border-radius: 3px;
      padding: 2px 7px;
      width: auto;
      background: transparent;
      color: #dfe6e9;
      margin-right: 30px;
      &:hover {
        border: 1px solid #d63031;
      }
      i {
        margin-right: 5px;
      }
      span {
        color: #dfe6e9;
      }
      i,
      span {
      }
    }
    .todolist__alert-none {
      opacity: 0;
    }
  }

  .form__errmsg {
    border: 1px solid #ff7675;
    border-radius: 5px;
    background-color: #fab1a0;
    max-width: 320px;
    width: 100%;
    text-align: center;
    margin-bottom: 25px;
    padding: 15px;
  }

  .todolist__header {
    width: 100%;
    max-width: $list-detail-width;
    height: 25px;
    display: flex;
    border-bottom: 2px solid #55efc4;
    font-size: 16px;
    text-align: center;
    user-select: none;
    color: #dfe6e9;

    .todolist__header__title {
      width: 330px;
      height: 100%;
    }
    .todolist__header__priority {
      text-align: center;
      width: 102px;
    }
    .todolist__header__startDate {
      text-align: center;
      width: 80px;
    }
    .todolist__header__tilde {
      text-align: center;
      width: 38px;
    }
    .todolist__header__deadline {
      text-align: center;
      width: 80px;
    }
    .todolist__header__buttons {
      text-align: center;
    }
  }
}
